# Global
.DS_Store
.env
.env.local

# surveyContracts
surveyContracts/node_modules/
surveyContracts/dist/
surveyContracts/bundle/
surveyContracts/artifacts/
surveyContracts/cache/
surveyContracts/types/
surveyContracts/coverage/
surveyContracts/.vscode/

# surveyUI
surveyUI/node_modules/
surveyUI/.react-router/
surveyUI/build/
surveyUI/.vscode/
